<div class="container__card">

  <div class="mycard c1">
      <div class="icon">
          <div class="icon__wrapper">
              <i class="fa-solid fa-user-doctor"></i>
            <div class="icon__title c1">
              <h3>Medicamentos</h3>
            </div>
          </div>
      </div>
      <div class="info__description">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, repellendus dolor dolorem voluptate aut expedita doloribus molestias modi libero excepturi cum perferendis laboriosam praesentium provident suscipit, eius impedit quidem magnam ipsa similique necessitatibus nam delectus nesciunt magni! Temporibus autem, reprehenderit amet quidem aliquid architecto, blanditiis, neque quam asperiores eum enim.</p>
          <input type="button" value="Ir">
      </div>
  </div>

  <div class="mycard c2">
    <div class="icon">
      <div class="icon__wrapper">
        <i class="bi bi-lungs-fill"></i>
        <div class="icon__title c2">
          <h3>Medicamentos</h3>
        </div>
      </div>
  </div>
  <div class="info__description">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, repellendus dolor dolorem voluptate aut expedita doloribus molestias modi libero excepturi cum perferendis laboriosam praesentium provident suscipit, eius impedit quidem magnam ipsa similique necessitatibus nam delectus nesciunt magni! Temporibus autem, reprehenderit amet quidem aliquid architecto, blanditiis, neque quam asperiores eum enim.</p>
      <input type="button" value="Ir">
  </div>
  </div>

  <div class="mycard c3">
    <div class="icon">
      <div class="icon__wrapper">
        <i class="bi bi-file-earmark-medical-fill"></i>
        <div class="icon__title c3">
          <h3>Medicamentos</h3>
        </div>
      </div>
       </div>
        <div class="info__description">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, repellendus dolor dolorem voluptate aut expedita doloribus molestias modi libero excepturi cum perferendis laboriosam praesentium provident suscipit, eius impedit quidem magnam ipsa similique necessitatibus nam delectus nesciunt magni! Temporibus autem, reprehenderit amet quidem aliquid architecto, blanditiis, neque quam asperiores eum enim.</p>
        <input type="button" value="Ir">
      </div>
  </div>

  <div class="mycard c4">
    <div class="icon">
      <div class="icon__wrapper">
        <i class="bi bi-file-earmark-medical-fill"></i>
        <div class="icon__title c3">
          <h3>Medicamentos</h3>
        </div>
      </div>
       </div>
        <div class="info__description">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, repellendus dolor dolorem voluptate aut expedita doloribus molestias modi libero excepturi cum perferendis laboriosam praesentium provident suscipit, eius impedit quidem magnam ipsa similique necessitatibus nam delectus nesciunt magni! Temporibus autem, reprehenderit amet quidem aliquid architecto, blanditiis, neque quam asperiores eum enim.</p>
        <input type="button" value="Ir">
      </div>
  </div>


</div>
</div>