{% load static %}
<div class="container-fluid">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="">
                {% if request.path == "/" %}
                         <img src="{% static 'img/banner_home1.jpg' %}" class="d-block w-100" alt="...">
                {% elif request.path == "/medicamentos/"%}
                         <img src="{% static 'img/medicaments_section/banner_medicament1.png' %}" class="d-block w-100" alt="...">
                {% endif %}
            </a>
            
          </div>
          <div class="carousel-item">
            <a href="">
                {% if request.path == "/" %}

                    <img src="{% static 'img/banner_home2.png' %}" class="d-block w-100" alt="...">
                {% elif request.path == "/medicamentos/"%}
                     <img src="{% static 'img/medicaments_section/banner_medicament2.png' %}" class="d-block w-100" alt="...">

                {% endif %}

            </a>
          </div>
          <a href="">
            <div class="carousel-item">
                {% if request.path == "/" %}    
                <img src="{% static 'img/banner_home3.jpg' %}" class="d-block w-100" alt="...">
                 {% elif request.path == "/medicamentos/"%}
                 <img src="{% static 'img/medicaments_section/banner_medicament3.png' %}" class="d-block w-100" alt="...">
                 {% endif %}
          </div>
          </a>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
